<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
            font-size: 15px;
        }

        .footer {
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Welcome to <span style="color: #3f82f6; font-weight: 700;">Writee</span>, <%= username %> </h2>
        <p>To finish setting up your Writee account, we just need to make sure this email address is yours.</p>
        <p>To verify your email address, please use the OTP code below:</p>
        <p style="text-align: center; font-size: 24px;"><strong style="color: #333;"><%= otp %></strong></p>
        <p>If you didn't request this OTP, you can safely ignore this email. Someone else might have typed your email address by mistake.</p>
        <div class="footer">
            <p>Thanks,</p>
            <p style="margin-top: -8px;">Writee Team</p>
        </div>
    </div>
</body>

</html>